router bgp 64500
 bgp log-neighbor-changes
 bgp rpki server tcp 184.73.232.63 port 3323
 bgp rpki server tcp 52.52.161.24 port 3323
 address-family ipv4
  bgp bestpath prefix-validate disable
 address-family ipv6
  bgp bestpath prefix-validate disable

route-map ebgp-in deny 1
 match rpki invalid
!
