router bgp <ASN>
rpki server 184.73.232.63
transport tcp port 3323
# Configures the time BGP waits in between sending periodic serial queries to the cache. Set refresh-time in seconds. Range for the refresh time is 15 to 3600 seconds.
# This should be 600 or more. This is to prevent too many ROUTE-REFRESH messages being sent to neighbors.
refresh-time 600
# Configures the time BGP waits for a response after sending a serial or reset query. Set response-time in seconds. Range for the response time is 15 to 3600 seconds.
# If you have a FW between your validators and your routers, setting this too high can cause the session to timeout on the firewall
response-time 600
# Configures the time BGP waits to keep routes from a cache after the cache session drops. Range for the purge time is 30 to 360 seconds.
purge-time 360
!! this command is only available in IOS-XR 6.6.3 or later!!
bind-source interface Loopback 0
rpki server 52.52.161.24
transport tcp port 3323
refresh-time 600
response-time 600
purge-time 360
bgp origin-as validation time 5
address-family ipv4 unicast
# Add this line if you want to apply the extended community as defined in RFC 8097 and send validation state to neighbors via iBGP
bgp origin-as validation signal ibgp
# This command is needed in +6.5.1
bgp origin-as validation enable
address-family ipv6 unicast
# Add this line if you want to apply the extended community as defined in RFC 8097 and send validation state to neighbors via iBGP
bgp origin-as validation signal ibgp
# This command is needed in +6.5.1
bgp origin-as validation enable

route-policy <Peer Import Policy>
if validation-state is invalid then
## if you only want to depref first, then uncomment this next line out and change the "drop" to a "pass"
# set local-preference 50
  drop
endif
<insert the rest of policy>
end-policy

Commands to validate that IOS-XR is doing RPKI:
# General overview of RTR sessions and database copied from validators
show bgp rpki summary

# This is Cloudflare’s intentionally invalid prefix
show bgp ipv4 unicast 103.21.244.0/24

# Another Cloudflare prefix that should always be valid 
show bgp ipv4 unicast 1.1.1.0/24
# Shows all the RIB entries that have been defined as valid/invalid/unknown
show bgp origin-as validity [valid|invalid|not-found]
