# block TCP port 2222 that gets opened up on the RE when adding a validator!
set firewall filter <IPv4 RE Filter> term RPKI-VALIDATOR from protocol tcp
set firewall filter <IPv4 RE Filter> term RPKI-VALIDATOR from port 2222
set firewall filter <IPv4 RE Filter> term RPKI-VALIDATOR then discard
set firewall family inet6 filter <IPv6 RE Filter> term RPKI-VALIDATOR from next-header tcp
set firewall family inet6 filter <IPv6 RE Filter> term RPKI-VALIDATOR from port 2222
set firewall family inet6 filter <IPv6 RE Filter> term RPKI-VALIDATOR then discard

# By default Junos will only maintain two sessions to the validators
set routing-options validation group rpki-validator max-sessions <number of validators to maintain connections to.  Ex. 4>
set routing-options validation group rpki-validator session 184.73.232.63 port 3323
set routing-options validation group rpki-validator session 52.52.161.24 port 3323
# Configure a liveliness check interval for a configured resource public key infrastructure (RPKI) cache server. After every period of time configured on the refresh-time statement (in seconds), a serial query protocol data unit (PDU) with the last known serial number is transmitted. 
# This should be 600 or more. This is to prevent too many ROUTE-REFRESH messages being sent to neighbors.
set routing-options validation group rpki-validator session <IP address of RPKI Validator> refresh-time 600
# The length of time in seconds the session will be considered alive without any activity.  Must be >= 2x the refresh time!
set routing-options validation group rpki-validator session <IP address of RPKI Validator> hold-time 1200
# Route Validation (RV) records learned from a cache are valid while the session to that cache remains up, and for up to "record-lifetime" seconds thereafter.  RV records are expired when the session to the cache has gone down, and remained down for "record-lifetime" seconds.
set routing-options validation group rpki-validator session <IP address of RPKI Validator> record-lifetime 3600
set routing-options validation group rpki-validator session <IP address of RPKI Validator> local-address <Loopback0 IP or whatever you specify>

# probably need to do this for your IPv4 and IPv6 import policies
set policy-options policy-statement <Import Policy Name> term VALID from protocol bgp
set policy-options policy-statement <Import Policy Name> term VALID from validation-database valid
set policy-options policy-statement <Import Policy Name> term VALID then validation-state valid
set policy-options policy-statement <Import Policy Name> term VALID then next term
set policy-options policy-statement <Import Policy Name> term INVALID from protocol bgp
set policy-options policy-statement <Import Policy Name> term INVALID from validation-database invalid
# Uncomment to set local pref to 50 and remove reject to accept invalids
set policy-options policy-statement <Import Policy Name> term INVALID then reject
# set policy-options policy-statement <Import Policy Name> term INVALID then local-preference 50
set policy-options policy-statement <Import Policy Name> term INVALID then validation-state invalid
set policy-options policy-statement <Import Policy Name> term INVALID then next term


------------------------------------------------------------

Commands to validate that Junos is doing RPKI:
# Shows RTR connections to validators
show validation session
 
# Shows stats of database copied over from validators
show validation statistics
 
# Shows what routes are invalid
show route validation-state invalid 
 
# shows the list of prefixes copied over from validators
show validation replication database

# This is Cloudflare’s intentionally invalid prefix
show route 103.21.244.0/24
 
# Another Cloudflare prefix that should always be valid
show route 1.1.1.0/24
