Classic CLI configuration:

A:br1-nyc>config>router>origin-validation# info detail
            rpki-session 184.73.232.63
                description "RTR Server 1"
                port 3323
                no shutdown
            rpki-session 52.52.161.24
                description "RTR Server 2"
                port 3323
                no shutdown
            exit
MD-CLI configuration:

[ex:configure router "Base" origin-validation]
A:admin@br1-nyc# info
    rpki-session 184.73.232.63 {
        admin-state enable
        port 3323
        description "RTR Server 1"
    }
    rpki-session 52.52.161.24 {
        admin-state enable
        port 3323
        description "RTR Server 2"
    }
Drop invalid prefixes

Dropping invalid prefixes can be done using a routing policy or in the BGP configuration.

Classic CLI routing policy configuration:

A:br1-nyc>config>router>policy-options# info
            policy-statement "ORIGIN_POLICY"
                entry 10
                    from
                        origin-validation-state invalid
                    exit
                    action drop
                    exit
                exit
                entry 20
                    from
                        origin-validation-state notFound
                    exit
                    action accept
                    exit
                exit                 
                entry 30
                    from
                        origin-validation-state valid
                    exit
                    action accept
                    exit
                exit
            exit
MD-CLI routing policy configuration:

[ex:configure policy-options]
A:admin@br1-nyc# info
    policy-statement "ORIGIN_POLICY" {
        entry 10 {
            from {
                origin-validation-state invalid
            }
            action {
                action-type reject
            }
        }
        entry 20 {
            from {
                origin-validation-state not-found
            }
            action {
                action-type accept
            }
        }
        entry 30 {
            from {
                origin-validation-state valid
            }
            action {
                action-type accept
            }
        }
    }
Classic CLI BGP configuration (group or neighbor specific):

A:br1-nyc>config>router>bgp# info
            best-path-selection
                compare-origin-validation-state
                origin-invalid-unusable
            exit
            group "EBGP_PEERING”
                import "ORIGIN_POLICY"
                enable-origin-validation ipv4 ipv6
            exit
            no shutdown
MD-CLI BGP configuration (group or neighbor specific):

[ex:configure router "Base" bgp]
A:admin@br1-nyc# info
    peer-ip-tracking true
    best-path-selection {
        compare-origin-validation-state true
        origin-invalid-unusable true
    }
    group "EBGP_PEERING" {
        origin-validation {
            ipv4 true
            ipv6 true
        }
        import {
            policy ["ORIGIN_POLICY"]
        }
    }
Origin validation in a VPRN instance requires SR OS 19.7.R1 or higher.

Classic CLI VPRN BGP configuration (group or neighbor specific):

A:br1-nyc>config>service>vprn>bgp# info
                best-path-selection
                    compare-origin-validation-state
                    origin-invalid-unusable
                exit
                group "VPRN_PEERING"
                    import "ORIGIN_POLICY"
                    enable-origin-validation ipv4 ipv6
                exit
                no shutdown
MD-CLI VPRN BGP configuration (group or neighbor specific):

[ex:configure service vprn "100" bgp]
A:admin@br1-nyc# info
    best-path-selection {
        compare-origin-validation-state true
        origin-invalid-unusable true
    }
    group "VPRN_PEERING" {
        origin-validation {
            ipv4 true
            ipv6 true
        }
        import {
            policy ["ORIGIN_POLICY"]
        }
    }
